/*Nao Apagara*/
@import "./src/styles/globalStyle.css";
@import "./src/styles/header.css";
@import "./src/styles/footer.css";

/*Estilos aqui*/

.menu-container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
}

.menu-title {
  color: var(--primary-color);
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
}


.menu-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.menu-item {
  background: white;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 310px;
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
  }
}

.menu-item img {
  max-height: 180px;
  border-radius: 10px;
}

.menu-info {
  padding: 10px 0;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.item-name {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 10px 0;
}

.item-description {
  font-size: 0.9rem;
  color: #555;
}

.item-price {
  font-size: 1.1rem;
  color: var(--secondary-color);
  font-weight: bold;
}

.menu-section {
  text-align: center;
  margin-bottom: 40px;
}

.menu-section h2 {
  font-size: 28px;
  margin-bottom: 20px;
  color: rgb(128, 34, 34);
  background: -webkit-linear-gradient(#910000, #53d805);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
